<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static_in_env/css/style.css">
    <title>Seleccion de Registro</title>
</head>

<body class="body" id="seleccionarRegistroBody">


    <header class="header" id="seleccionarRegistroHeader">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="contactUs.html">Portal List</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href=".../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="ingresarAdministracion.html">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contactUs.html">Contactenos</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <a href="index.html">
                        <h1 id="portalList" class="title">Portal List</h1>
                        <p>Le ayudamos a ser mas eficiente y automatizar el pasaje de lista</p>
                    </a>
                </div>
                <div class="col-6">
                    <a href="index.html">
                        <img id="plImg" class="img" src="/PortalList/administracion/static/img/logo13.png" alt="Portal List">
                    </a>
                </div>
            </div>
            
        </div>
    </header>

    <main class="main" id="seleccionarRegistroMain">
        <div class="container-flex">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <form action="post" class="form">
                        <div class="form-group">
                            <input class="form-control" id="Grado" type="text" placeholder="Grado" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="Orientacion" type="text" placeholder="Orientacion" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="Grupo" type="text" placeholder="Grupo" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="Mes" type="text" placeholder="Mes" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </main>
    <div id="bubble-wrapper">
    </div>

    <footer class="footer" id="seleccionarRegistroFooter">
        <div class="container">
            <div class="row">
                
                <p id="contactUs"> <a href="contactUs.html">Contáctanos</a></p>
                <p id="copyR">© 2022 Portal List, Inc.</p>
            </div>
        </div>
    </footer>
  
</body>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
<script src="templates/script/static_in_env/js/script.js></script>
</html>